$fur: #d3dbda;
$eyes: #353f3d;
$glasses: #353f3d;
$frames: 5px;
$t-time: .5s;

@mixin ear($rot) {
  position: absolute;
  height: 70%;
  width: 25%;
  top: 0;
  border-radius: 50% 50% 0 0;
  background-color: $fur;
  transform: rotate($rot);
  transition: transform .5s, top .5s;
}

@mixin eye() {
  position: absolute;
  height: 7%;
  width: 7%;
  top: 65%;
  border-radius: 50%;
  background-color: $eyes;
  transition: top .5s, height .5s;
}

@mixin frame() {
  position: absolute;
  z-index: 5;
  top: 55%;
  width: 25%;
  height: 20%;
  border-radius: 10% 10% 40% 40%;
  border: $frames solid $glasses;
  transition: top .5s;
}

.bundt {
  position: relative;
  height: 150px;
  width: 150px;

  .head {
    position: absolute;
    height: 65%;
    width: 80%;
    top: 35%;
    left: 10%;
    border-radius: 50%;
    background-color: $fur;
  }

  .l-ear {
    @include ear(-8deg);
    left: 20%;
  }

  .r-ear {
    @include ear(8deg);
    right: 20%;
  }

  .l-eye {
    @include eye();
    left: 30%; 
  }

  .r-eye {
    @include eye();
    right: 30%;
  }

  .l-frame {
    @include frame();
    left: 15%;
  }

  .r-frame {
    @include frame();
    right: 15%;
  }

  .bridge {
    position: absolute;
    z-index: 3;
    left: 46%;
    top: 60%;
    width: 8%;
    height: $frames;
    background-color: $glasses;
    transition: top .5s;
  }

  &:hover {
    .r-ear, .l-ear {
      top: 5%;
      transform: rotate(0);
    }

    .l-frame, .r-frame {
      top: 52%;
    }

    .r-eye, .l-eye {
      top: 62%;
      height: 4%;
    }

    .bridge {
      top: 57%;
    }
  }
}