$fur: #d3dbda;
$dark: #353f3d;
$t-time: .5s;

@mixin ear($rot) {
  position: absolute;
  height: 70%;
  width: 25%;
  top: 0;
  border-radius: 50% 50% 0 0;
  background-color: $fur;
  transform: rotate($rot);
  transition: transform .5s, .2s;
}

@mixin eye() {
  position: absolute;
  height: 10px;
  width: 10px;
  top: 65%;
  border-radius: 50%;
  background-color: $dark;
  transition: height .5s, .2s;
}

@mixin frame() {
  position: absolute;
  z-index: 5;
  top: 55%;
  width: 40px;
  height: 30px;
  border-radius: 10% 10% 40% 40%;
  border: 5px solid $dark;
}

.bundt {
  position: relative;
  height: 150px;
  width: 150px;

  .head {
    position: absolute;
    height: 65%;
    width: 80%;
    top: 35%;
    left: 10%;
    border-radius: 50%;
    background-color: $fur;
  }

  .l-ear {
    @include ear(-8deg);
    left: 20%;
  }

  .r-ear {
    @include ear(8deg);
    right: 20%;
  }

  .l-eye {
    @include eye();
    left: 30%; 
  }

  .r-eye {
    @include eye();
    right: 30%;
  }

  .glasses {
    position: absolute;
    width: 150px;
    height: 150px;
    transition: .2s;
    
    .l-frame {
      @include frame();
      left: 15%;
    }
  
    .r-frame {
      @include frame();
      right: 15%;
    }
  
    .bridge {
      position: absolute;
      z-index: 3;
      left: 46%;
      top: 60%;
      width: 10px;
      height: 5px;
      background-color: $dark;
    }
  }  

  &:hover {
    .r-ear, .l-ear {
      top: 5%;
      transform: rotate(0);
    }

    .r-eye, .l-eye {
      top: 62%;
      height: 7px;
    }
  }
}