$text: #d3dbda;
$text-muted: #97a0a3;
$background: #353f3d;
$background-project: #404b49;

/****** ANIMATIONS *******/
@keyframes fadeDown {
  from {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
  } to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0;
  } to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/******* ASSETS BELOW *******/
* {
  font-family: Arial, Helvetica, sans-serif;
  color: $text;
  margin: 0;  
}

/****** TOP NAVBAR ******/
.nav {
  position: fixed;
  width: 100%;
  padding: 10px;
  top: 0;
  z-index: 15;
  background-color: $background;
  transition: .4s all;

  .links {
    padding: 10px;

    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      color: $text;
      padding-left: 10px;
      transition: .2s;
    }

    a:hover {
      color: #aaa;
    }
  }
}

.hide {
  top: -60px;
}

/******** LANDING PAGE ********/
.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background;
  background-image: url('https://i.imgur.com/8mpP7Lx.png');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  text-align: center;
  animation: fadeIn .5s ease-in background-image;

  .about, p, b, h2, h3 {
    color: $text;
  }

  .hello {
    animation: fadeDown 1s ease-in both;
  }
  
  h2 {
    margin-bottom: 30px;
    animation: fadeDown 1s ease-in both;
    font-size: 20pt;
    letter-spacing: 5px;
  }

  .about {
    animation: fadeUp 1s ease-in both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    p {
      margin: 10px 10%;
      align-content: center;
      max-width: 800px;
      line-height: 20pt;
      animation: fadeIn 1s ease-in both;
    }
  }
}

/****** PROJECTS ******/
.project-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
  background-color: $background;
  align-items: center;
  justify-content: center;

  h1 {
    margin-bottom: 30px;
    font-size: 30pt;
    text-transform: uppercase;
    color: $text;
  }

  .project {
    display: flex;
    align-items: stretch;
    margin: 0 0 50px 0;
    max-width: 950px;
    
    .pictures {
      flex: 2;

      img {
        width: 90%;
      }
    }

    .about {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .title {
        h2 {
          font-size: 16pt;
          color: $text;
        }
  
        h3, a {
          font-size: 13pt;
          text-transform: lowercase;
          color: $text-muted;
          text-decoration: none;
        }
      }

      p {
        margin: 10px 0;
        font-size: 11pt;
        color: $text;
        text-align: justify;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }

      .techs {
        color: $text-muted;
        font-size: 10pt;
        font-weight: bold;
      }
    }

    @media (min-width: 800px) {
      &:nth-child(even) {
        .pictures {
          order: 2;

          img { float: right }
        }

        .about { order: 1 }
      }
    }
  }
}

/***** SMALL SCREENS *****/
@media screen and (max-width: 800px) {
  .project-container .project {
    flex-direction: column;
    text-align: center;

    .pictures {
      order: 0;
      
      img { margin: auto }
    }
  }
}